# Virtual environments
.venv/
venv/
env/
testenv/

# OS files
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Git
.git/
.gitignore

# Large unnecessary folders
mlruns/
data/raw/
data/processed/

# Ignore all artifacts EXCEPT required ones
artifacts/*
!artifacts/model.pkl
!artifacts/feature_columns.json